/* Full screen height */
body, html {
  height: 100%;
  margin: 0;
  background-color: black;
  touch-action: none;
}

#canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.left { left: 0; }
.right { right: 0; }

.toolbar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;
  height: 80vh;
  border-radius: 2px;
  background-color: #444;
  overflow-y: auto;
  align-items: center;
  justify-content: safe center;
}

.toolbar .btn {
  aspect-ratio: 1;
  padding: 0;
  min-width: 50px;
  font-size: 175%;
  font-weight: bold;
  border-color: #fff;
  transition: border-width .1s;
}
.btn:hover, .btn:active, .selected {
  border: 3px solid !important;
}
.dark-border { border-color: #000; }
.hidden { display: none; }

button {
  display: block;
  width: 100%;
}

